<!DOCTYPE html>

<html>
    <head>
        <title>Product App</title>
        <link href="stylesheet.css" rel="stylesheet">
    </head>
    <body>

        <div class="nav-bar"></div>

        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img src="assets/pink-socks.jpg" height="250px"/>
                </div>
                
                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p v-if="inStock">In Stock</p>
                    <p v-else>Out of stock</p>

                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                    <div v-for="variant in variants" :key="variant.variantId">
                        <p>{{ variant.variantColor }}</p>
                    </div>

                    <button v-on:click="cart += 1">Add to Cart</button>

                    <div>
                        <p>Cart({{ cart }})</p>
                    </div>
                </div>
            
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="script.js"></script>
    </body>
</html>